*{
    font-family: 'Poppins', sans-serif;
  }
  .form{
    background: rgba(192,120,227,0.3);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    padding: 10px;
  }


/* CSS */
.button-74 {
  background-color:192,120,227,0.3;
  border: 2px solid #000000;
  border-radius: 30px;
  box-shadow: #000000 4px 4px 0 0;
  color: #da8ed6;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-74:hover {
  background-color: #fff;
}

.button-74:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-74 {
    min-width: 120px;
    padding: 0 25px;
  }
}